<h2>Post Create</h2>
<mat-card>
    <form (submit)="onSavePost(postForm)" #postForm="ngForm">
        <mat-form-field>
            <input matInput name="title" [ngModel]="post.title" minlength="3" #title="ngModel" placeholder="Title" required />
            <mat-error *ngIf="title.invalid">Please enter a post title.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <textarea matInput rows="4" name="content" [ngModel]="post.content" #content="ngModel" placeholder="Content" required></textarea>
            <mat-error *ngIf="content.invalid">Please enter post content.</mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Submit</button>
    </form>
</mat-card>